body {
  background-image: url(../images/background.jpg);
  color: black;
}
.nav-item {
  color: black;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 3rem; /* Footer height */
}
#card {
  float: left;
  padding: 10px;
  margin: 10px;
}

#cardimg {
  height: 200;
  width: 200;
}
#personalphoto {
  border-radius: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: 780px;
}

#bio {
  border-radius: 5px;
  float: right;
  font-size: large;
  font: outline;
  background-color: white;
  opacity: 0.9;
}

#navbar {
  background-color: rgb(185, 194, 204);
  opacity: 0.7;
}

#navitem {
  color: black;
  font-weight: 400;
}

.lead {
  text-align: center;
}

#contact{
  border-radius: 5px;
  background-color: white;
  opacity: .7;
}
a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#footer {
  opacity: 0.8;
  size: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
#footer-text {
  color: black;
  font-weight: 500;
}
/* Style all font awesome icons */
.fa {
  color: white;
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

a {
  padding: 2px;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 1;
}

/* Set a specific color for each brand after some different looks they look better with a simple universal color */

/* Facebook */
.fa-linkedin {
  color: white;
}

/* Facebook */
.fa-github {
  color: white;
}

/* Twitter */
.fa-file-alt {
  color: white;
}
